* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('./fonts/gunplay\ 3d.otf') format('opentype'); /* Point to the OTF file */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 68%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3.7fr;
    grid-template-rows: 110px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content"
    ;
    height: 100vh;
}

.sidebar{
    background-color: rgb(58, 140, 221);
    grid-area: sidebar;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar nav ul li a:hover {
    opacity: 0.7;
}

.icon {
    margin-right: 10px;
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 10px;
}

.main-logo {
    width: 70px;
    background-image: url(./media/camera-iris.svg);
    background-size: cover;
}

.logo div {
    font-family: 'MyCustomFont' , Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

/* Sidebar icon styling */

.logo img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.home-icon {
    background-image: url(./media/home-account.svg);
    background-size: cover;
    color: #f4f4f4;
}

.profile-icon {
    background-image: url(./media/card-account-details.svg);
    background-size: cover;
    color: #f4f4f4;
}

.messages-icon {
    background-image: url(./media/message-bulleted.svg);
    background-size: cover;
    color: #f4f4f4;
}

.history-icon {
    background-image: url(./media/history.svg);
    background-size: cover;
    color: #f4f4f4;
}

.tasks-icon {
    background-image: url(./media/file-multiple.svg);
    background-size: cover;
    color: #f4f4f4;
}

.communities-icon {
    background-image: url(./media/account-group.svg);
    background-size: cover;
    color: #f4f4f4;
}

.settings-link {
    margin-top: 50px;
}

.home-link {
    margin-top: 50px;
}

.settings-icon {
    background-image: url(./media/cog.svg);
    background-size: cover;
    color: #f4f4f4;
}

.support-icon {
    background-image: url(./media/head-question-outline.svg);
    background-size: cover;
    color: #f4f4f4;
}

.privacy-icon {
    background-image: url(./media/shield-check-outline.svg);
    background-size: cover;
    color: #f4f4f4;
}

.header{
    background-color: blue;
    grid-area: header;
}

.main-content{
    background-color: green;
    grid-area: main-content;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "your-projects announcements"
        "your-projects trending"
    ;
}

/* Main Content Grid */

.cover {
    border: 1px red solid;
}